@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use './mixins.scss' as *;
@use './overrides.scss';

.loan-list__illo {
  max-width: 100%;
}
.loan-list__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07;
  padding-left: $spacing-06;
  @include loan-list-background;
}

.loan-list__heading {
  @include type-style('productive-heading-05');
}

.loan-list__r2 {
  margin-top: rem(-40px);
}

.tabs-group-content {
  padding: $spacing-10 $spacing-06;
}

.loan-list__subheading {
  @include type-style('productive-heading-03');

  font-weight: 600;
}

.loan-list__p {
  @include type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;

  @include breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}

.loan-list__r3 {
  padding: $spacing-09 $spacing-06;
  @include loan-list-background;
}

.loan-list__label {
  @include type-style('heading-01');
}

.tabs-group {
  background-color: $layer-01;
}

.loan-list__banner,
.loan-list__r2,
.loan-list__r3 {
  margin-left: -20px;
  margin-right: -20px;

  @include breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
  }
}
